*{
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    margin: 5px;
}
.header{
    font-size: 30px;
}
img{
    width: auto;
    height: 250px;
    margin-top: 20px; 
    margin-left:-10px;
    justify-content: center;
    display: flex;
}
.contenido__texto--titulo{
    margin-bottom: 24px;
    font-size: 20px;
}
.button{
    font-family: 'Space Mono', monospace;
    color: white;
    background-color: #333333;
    width: 220px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (min-width: 920px) {
    body{
        display: flex;
        flex-direction:row;
    }
    .imagen{
        display: flex;
        flex-direction: row;
        position: relative;
        margin-top: 50%;
        
    }
    .seccion__contenido{
        display: flex;
        flex-direction: row;
        position: relative;
        left: 150px;
    }
   .contenido__texto{
       margin-top: 20%;
   }
   .boton{
       margin-top: -1%;
       display: flex;
       margin-right: 400px;
   }
   h1{
     width: 400px;
     font-size: 40px;  
   }
   .texto{
       width: 300px;
   }
}
